<a href="https://colab.research.google.com/github/jelly-boop/baekjoon/blob/master/%EA%B8%B0%EB%B3%B8%EC%88%98%ED%95%991.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1712_손익분기점**

In [ ]:
a,b,c = map(int,input().split())

if b>=c:
    print(-1)
else:
  print(a//(c-b)+1)

# **2292_벌집**
규칙을 찾으면 된다.

In [ ]:
N = int(input())
cnt=1
r = 1
plus = 6

while N > r:
  r+=plus
  plus+=6
  cnt+=1
print(cnt)

# **1193_분수찾기**
규칙을 찾으면 된다.

In [ ]:
n = int(input())
idx = 1
plus=2
line = 1

while n>idx: # n=5 
   idx+=plus # 3
   plus+=1 
   line+=1

gap = idx - n
up=0
bottom=0
if line%2 :
  up =line - gap
  bottom =gap +1
else:
  up=gap+1
  bottom = line-gap

ans = str(bottom)+"/"+str(up)
print(ans)

# **2869_달팽이는 올라가고싶다**

나무 높이 기준으로 생각한다

In [ ]:
import math
a,b,v = map(int, input().split())

days = math.ceil((v-a)/(a-b)) +1
print(days)

# **10250_ACM호텔**

In [ ]:
case = int(input())

for i in range(case):
  h,w,n = map(int, input().split())
  rooms = n//h+1
  height = n%h
  if height == 0:
    height =h
    rooms = n//h
  print(height*100+rooms)

# **2775_부녀회장이될테야**
규칙이 없음... 일일이 해본다.

In [ ]:
t = int(input())

for i in range(t):
  k = int(input()) # 1
  n = int(input()) # 3
  
  people = [i for i in range(1,n+1)] # 리스트에 1부터 n+1까지 넣어준다.
  for j in range(k): #층 만큼 반복
    for y in range(1,n): # 1부터 n호
      people[y]+=people[y-1] #누적
  print(people[-1]) #마지막

# **2839_설탕배달**
5의 배수를 만드는것을 목적으로 하면된다.

In [ ]:
n = int(input())
case=0
while n>=0:
  if n%5==0: #5의 배수
    case+=n//5
    print(case)
    break
  n-=3
  case+=1
else: 
  print(-1)

# **큰수A+B**

In [ ]:
a,b = map(int,input().split())

print(a+b)

# **1011_Fly me to the Alpha Centauri**