<a href="https://colab.research.google.com/github/jelly-boop/baekjoon/blob/master/%EA%B8%B0%EB%B3%B8%EC%88%98%ED%95%992.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1978_소수찾기**

In [ ]:
n = int(input())
numbers = list(map(int, input().split()))
count=0

def checkSosu(number):
  sosu = True
  if number == 1:
    sosu = False
  else:
    for i in range(2,number):
      if number % i == 0:
        sosu = False
        break
  return sosu

for i in numbers:
  if(checkSosu(i)):
    count+=1

print(count)

# **2581_소수**

In [ ]:
a = int(input())
b= int(input())

def checkSosu(number):
  sosu = True
  if number == 1:
    sosu = False
  else:
    for i in range(2,number):
      if number % i == 0:
        sosu = False
        break
  return sosu

sosu=[]
for i in range(a,b+1):
  if(checkSosu(i)):
    sosu.append(i)

if(len(sosu)==0):
  print(-1)
else:
  print(sum(sosu))
  print(min(sosu))

# **1929_소수구하기**
에라토스테네스의 체

In [ ]:
a,b = map(int,input().split())

for i in range(a,b+1):
  if i==1:
    continue
  for j in range(2, int(i**0.5)+1):
    if i%j==0:
      break
  else:
    print(i)

# **베르트랑공준_4948**
에라토스테네스의 체

In [ ]:
import math
erato=[1]*(2*123456+1) # 모두 1로 세팅한뒤
erato[0]=0
erato[1]=0

# 소수가 아닌것들은 0으로 다 지워준다
for i in range(2, int(math.sqrt(len(erato)))):
  if erato[i]: # 만약 소수라면
    for j in range(i+i,len(erato),i): # 주어진 범위에서 i의 배수를
      erato[j]=0 # 0으로 해준다.

while True:
  n = int(input())
  if n==0:
    break
  else:
    print(sum(erato[n+1:(2*n)+1]))

# **9020_골드바흐추측**

# **1085_직사각형에서탈출**

In [ ]:
x,y,w,h = map(int, input().split())
print(min(x,y,w-x,h-y))

# **3009_네번째점**

In [ ]:
x =[]
y =[]

for i in range(3):
  x1,y1 = map(int, input().split())
  x.append(x1)
  y.append(y1)

for i in range(3):
  if x.count(x[i]) == 1:
    x4 = x[i]
  if y.count(y[i]) ==1:
    y4 = y[i]

print(x4,y4)

# **4153_직각삼각형**

In [ ]:

while True:
  tri = list(map(int,input().split()))
  if sum(tri) == 0:
    break
  maxside = max(tri)
  tri.remove(maxside)  
  if tri[0]**2 + tri[1]**2 == maxside**2:
    print("right")
  else:
    print("wrong")

# **3053_택시기하학**

In [ ]:
import math
r = int(input())
print(f'{r*r*math.pi:.6f}')
print(f'{2*r*r:.6f}')